@import './src/assets/styles/colors';

.description--container {
  max-height: 220px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.description--container .read-more {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0; padding: 30px 0;
  background-image: linear-gradient(to bottom, transparent, #fff);
}

.read-more-btn {
  color: black;
  padding: 8px;
  position: absolute;
  color: $appDarkBlue;
  font-size: 24px;
  bottom: 30px;
  background: white;
  border: 2px solid $appDarkBlue;
}