@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import "./assets/styles/breakpoints.scss";
@import "./assets/styles/colors.scss";

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

body,html {
  box-sizing: border-box;
  overflow: hidden;
  font-family: 'San Francisco', Arial, sans-serif;
  background-color: $appCream;
  color: $appDark;
}
a, a:visited {
  text-decoration: none;
  color: $appDark;
}
.wrapper {
  margin-top: 50px;
}

@include breakpoint(tablet) {
  body,html {
    width: 376px;
  }
}