@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import "./assets/styles/colors.scss";

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

body,html {
  box-sizing: border-box;
  font-family: 'San Francisco', Arial, sans-serif;
  background-color: $appCream;
  color: $appDark;
  height:100%;
  display:flex;
  overflow: hidden;
}
a, a:visited {
  text-decoration: none;
  color: $appDark;
}
.wrapper {
  //margin-top: 50px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.pages {
  display: flex;
  overflow: scroll;
  width: 100%;
  height: 100%;
}


@media (min-width: 376px) {
  body,html {
    width: 376px;
    overflow-x: hidden;
  }

  *::-webkit-scrollbar {
    width: 10px;
  }
  
  *::-webkit-scrollbar-track {
    background: $appCream;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: $appDark;
    border-radius: 20px;
    border: 3px solid $appCream;
  }  
}

@keyframes elastic {
  to {
    transform: scaleY(2);
  }
}
